@import "./references";

$height: 2.7rem;

.container {
  display: flex;
  position: relative;
}

.first {
  border-bottom: 3px solid #000;
  width: 80%;
  height: $height;
  background-color: #000;
}

.middle {
  border-bottom: 3px solid #000;
  width: 44%;
  height: 5rem;
  background-color: #000;

  transform: rotate(35deg);
  position: absolute;
  top: -18%;
  left: 48%;
}

.last {
  border-bottom: 3px solid #000;
  background-color: #000;
  width: 100%;
  height: 6rem;
  justify-self: flex-end;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  z-index: 99;
}

/* Panel */

.screenContainer {
  padding: 0 1rem 0.5rem 1rem;
}

.cardPanel {
  background-color: $gray;
}

.name,
.type,
.height,
.weight {
  font-family: "Pokefont", cursive;
  font-size: 12px;
}

.panel {
  width: 100%;
  height: 7rem;
  background-color: $gray;
  border-radius: 0.5rem;
  padding: 0.5rem;

  .bright {
    width: 50px;
    height: 40px;
    background-color: $white;
    border-bottom-right-radius: 30px;
    filter: brightness(0.7) blur(3px) contrast(0.1) opacity(0.3);
    position: absolute;
  }
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  justify-content: space-between;
  padding: 0.3rem 0;
}

.button {
  background-color: $blue;
  width: 3rem;
  height: 3rem;
  border: 1px solid $black;
  border-radius: 5px;
  box-shadow: inset 4px 4px 7px 2px rgba(180, 180, 180, 0.671);
}

/* Bottom Panel */

@mixin smallLight($color, $size, $margin) {
  width: $size;
  height: $size;
  background-color: $color;
  border-radius: 50%;
  border: 3px solid $black;

  .innerBrigth {
    margin: $margin;
    width: 12px;
    height: 12px;
    background-color: $white;
    border-radius: 50%;
    filter: brightness(0.9) blur(1px);
  }
}

@mixin panelLights($color) {
  width: 3.5rem;
  height: 0.7rem;
  background-color: $color;
  border: solid 2px $black;
  border-radius: 15px;
}

.backButtonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0.5rem;
}

.leftButtonsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.redDotsContainer {
  display: flex;
  gap: 0.5rem;
  margin-left: 2.5rem;
}

.redDot {
  @include smallLight($red, 12px, 0.5rem);
}

.whiteButtonsContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.whiteButton {
  background-color: $white;
  width: 3rem;
  height: 3rem;
  border: 1px solid $black;
  border-radius: 5px;
  box-shadow: inset 4px 4px 7px 2px rgba(180, 180, 180, 0.671);
}

.rightButtonsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.3rem;
}

.largeButtonsContainer {
  display: flex;
  justify-content: space-between;

  //gap: 0.5rem;
}

.largeButton {
  @include panelLights($gray);
}

.yellowButton {
  @include smallLight($yellow, 3rem, 0.3rem);
  animation: blink-yellow 1.3s infinite forwards alternate;
  animation-delay: 0.2s;
  align-self: flex-end;
}

@keyframes blink-yellow {
  0% {
    background-color: $yellow;
  }

  50% {
    background-color: darken($color: $yellow, $amount: 10%);
  }

  100% {
    background-color: $yellow;
  }
}

.bottomButtonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.bottomButton {
  width: 80%;
  height: 70%;
  place-self: center;
  border-radius: 5px;
  background-color: $gray;
  box-shadow: inset 4px 4px 7px 2px rgba(71, 71, 71, 0.671);
}
